*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
$b: 1px solid red;
$wt: blue;
$gr: gray;

.d-flex{
    display: flex;
}

.container-fluid{
    width: 100%;
    .first-page{
        width: 100%;
        height: 100vh;
        background: url(./background.jpg);
        background-size:cover;
        background-position: right;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn{
            width: 40px;
            height: 40px;
            background-color: black;
            color: $wt;
            font-size: 25px;
            position: fixed;
            top: 5%;
            right: 4%;
            border: none;
        }
        .header-text{
            width: 40%;
            height: 300px;
            color: $wt;
            text-align: center;
            h1{
                font-size: 90px;
            }
            button{
                width: 150px;
                height: 40px;
                margin-top: 20px;
                background: none;
                border: 3px solid $wt;
                color: $wt;
                font-weight: 800;
            }
        }
    }
}